*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	outline:none
}
html{
	min-height: 100%;
}
a{
	text-decoration: none;
	color:inherit;
}
ul {

	list-style: none;
}
body{
	min-height: 100%;
	font-size: 15px;
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	background: url(../Imag/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	width: 100%;
	height: auto;
	grid-template-columns: 15% 85% ;
	display: grid;

}
.logo{
	 


}
.video{

}
video {
   width: 100%;


}
nav{
	background: url(../Imag/camo2.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 2px solid #293F04;
    border-right: none;
    border-left: none;
	color: white;
    box-sizing: border-box;
	height: 50px;
    grid-column: 1/4;
    padding: 10px;
}
	
.nav-links{
	margin: -0.15%;
	padding:0;
	display: flex;
	align-items: center;
	justify-content: center;
	 flex-direction: row;
	 flex-wrap: wrap;
}

.nav-links li{
	color: white;
    padding: 8px;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
}
.nav-links li:not(:first-child){
	margin-left: 5%;
}
.activ{

color: #fff;
background: #d1bf76;

}


main{
	display: grid;
    grid-template-columns: 14% 86%;
	grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}

.main-content{
min-height: 100vh;
background:linear-gradient(rgba(206,208,206,0.8),rgba(0,0,0,0.8));
margin: 2% 2%;
}


.container{
	margin-top: 15vh;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.container .title h1{
	font-size: 40px;
   
}

.title{
	margin: 0 auto;
	width: 35vh;
	animation-name: underline;
    animation-duration: 3s;
     animation-fill-mode: forwards;
}
@keyframes underline{
	0%{
		border: none;
	}
	to{
		text-decoration: underline;
	}
}
.container form input:first-child{
	margin-top: 2%;
}
.container form input{
	width: 40vh;
	height: 6.5vh;
	margin-bottom: 2%;
	text-indent: 2%;
	border: 1px solid black;
	border-radius: 3%;
	font-family: 'Roboto', sans-serif;
}
.container form input:last-child{
	margin-bottom: 8%;
	background-color: #000;
    border: none;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.5s;
}
.container form input:last-child:hover{
	background-color: #fff;
	color: black;
	border: 1px solid black;
}


.reclame{
padding: 10px;
display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}
.ad1{
	background-color: white;
	border: 1px solid black;
	text-align: center;

}

footer{
	background: url(../Imag/camo2.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 2px solid #293F04;
    border-right: none;
    border-left: none;
	grid-column: 1/4;
	height: 5vh;
	color: white;
	text-align: center;
	padding-top: 10px;
}

